{% extends 'base.html' %}
<p>{% block main_body %}
    <p>현재 가장 인기있는 영화</p>
    <div style="float:left; margin-right:50px;">
        <p><img src='https://movie-phinf.pstatic.net/20211124_230/1637742697155U1Th7_JPEG/movie_image.jpg?type=m203_290_2'></p>
        </div>
        <div style="float:left; font-size:20px;">
        영화 제목 : 유체이탈자<br>
        관람등급 : 15세 관람가<br>
        장 르 : 액션<br>
        평점 : 7.82<br>
        예매율 : 18.77%<br>
        상영시간 : 108분<br>
        개봉일자 : 2021.11.224<br>
        </div>
    {% endblock %}</p>